<div class="home-vertical">
<!-- style="background-image: url('{{ .image | absURL }}'); " -->
{{ if .Params.Leadstory }}
	<div class="home-image" >
		<img src="{{ .image | absURL }}" width="393">

		{{ if eq .Position "top"}}
		<div class="flag">{{ .Position }}</div>
		{{ end }}

		<div class="home-msrc">

			{{ if or (eq .Sitetitle "JimmyWong") (eq .Sitetitle "JimmyWong.XYZ") }}
			{{ with .youtube }}
			<a href="{{ . }}" style="background-image:url('youtube.svg')"></a>
			{{ end }}
			{{ else if eq .Sitetitle "JimmyWong.CN" }}
			{{ with .bilibili }}
			<a href="{{ . }}" style="background-image:url('bilibili.png')"></a>
			{{ end }}
			{{ end }}

		</div>
	</div>
	{{ end }}

	<div class="home-vertical-detail" style="flex: 1;">
		<div class="home-item-detail-title">
			<h2>
				<a href="{{ .Permalink }}" target="_blank" class="read-more">
					{{ .Title }} {{ .Position }}
				</a>
				<div class="home-date">{{ .Date.Format "2006-01-02" }}</div>
			</h2>
		</div>
		<div class="home-item-detail-desc">{{ .desc }}</div>
		<div class="between">
			<div></div>
			<div>
				{{ partial "share.html" 
				(dict 
				"title" .Title 
				"sitetitle" .Sitetitle 
				"image" (.image | absURL)) 
				}}
			</div>
		</div>
	</div>
</div>