  <div
    class="max-w-7xl mx-auto mb-4 mt-4 p-4"
  >
    <!-- 关键在这里：6 列网格 -->
    <div
      id="articles-container"
      class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 gap-4"
    >
      {{ range sort (where (where .Site.RegularPages "Section" "posts")
      "Params.position" "eq" "home") ".Params.weight" "asc" }} {{ if not (or (in
      .Params.categories "授权") (in .Params.categories "资源")) }} {{ $context
      := dict "Title" .Title "Uuid" .Params.uuid "Tags" .Params.tags "Position"
      .Params.position "Sitetitle" .Site.Title "Permalink" .Permalink "Date"
      .Date "Type" .Params.type "Image" .Params.image "YouTube" .Params.youtube
      "Bilibili" .Params.bilibili "Desc" .Params.description "Weight"
      .Params.weight }} {{ template "home/pic.html" $context }} {{ end }} {{ end
      }}
    </div>
  </div>
