{{ define "main" }}
<!-- 1. 声明我们要将内容塞进骨架的 "main" 插槽中 -->

<main class="w-full max-w-none bg-gray-100 dark:bg-gray-900 mx-auto min-h-screen transition-all duration-300 flex flex-col md:flex-row">
    <section class="flex-1 p-4"> <!-- 建议加上 flex-1 撑开左侧 -->
        <h1 class="text-2xl font-bold mb-4">{{ .Title }}</h1>
        <p class="text-gray-500 mb-2">heritagestory</p>
        
        <!-- 引入 md 文件里的具体内容 -->
        <article class="prose dark:prose-invert">
            {{ .Content }}
        </article>
    </section>
    
    <!-- 2. 引入右侧栏（记住！用 partial，千万别用 template） -->
    {{ template "official/layout/menu.html" . }}
</main>

<!-- 3. 闭合 main 定义 -->
{{ end }}