{{ define "main" }}
<!-- 顶部：页面容器 -->
<div class="relative min-h-screen dark:bg-gray-900">
  <!-- 主体内容区（左侧） -->
  <div class="w-full dark:bg-gray-800 p-0 relative overflow-hidden h-screen">
    <div
      class="w-full h-full p-2 flex flex-row gap-6"
    >
      <div
    class="absolute inset-0 -z-10"
    style="
      background-image: url('/bg9.webp');
      background-size: contain;
      background-position: 20%;
      background-repeat: no-repeat;
      transform: rotate(-deg);
      transform-origin: center;
    "
  ></div>

      {{ template "layout/changelanuge.html" .}}
    </div>

    <div>{{ template "layout/menu.html" . }}</div>
  </div>
  <!-- 右侧边栏（菜单 + header + social） -->

  <!-- 底部 footer（全局） -->
  {{ template "layout/footer.html" . }}
</div>

{{ end }}