<section class="social-section">
  <h1>🫶 社交账号</h1>
  <p>作品与分享，线上互动沟通。</p>

  <ul class="social-list">
    <!-- <li>
      <a href="https://github.com/jimmywong" target="_blank" rel="noopener">
        <img src="/icons/github.svg" alt="GitHub" />
        <span>GitHub</span>
      </a>
    </li> -->
    <li>
      <a href="https://twitter.com/jimmywong" target="_blank" rel="noopener">
        <img src="/jmh.webp" alt="Twitter" />
        <span>小红书</span>
      </a>
    </li>
    <!-- <li>
      <a href="https://www.zhihu.com/people/jimmywong" target="_blank" rel="noopener">
        <img src="/icons/zhihu.svg" alt="知乎" />
        <span>知乎</span>
      </a>
    </li> -->
    <li>
      <a href="https://space.bilibili.com/495747365?spm_id_from=333.937.0.0" target="_blank" rel="noopener">
        <img src="/jimmy.webp" alt="Bilibili" />
        <span>Bilibili</span>
      </a>
    </li>
    <li>
      <a href="/images/wechat-qrcode.jpg" target="_blank">
        <img src="/wechat.webp" alt="微信" />
        <span>微信订阅号</span>
      </a>
    </li>
  </ul>
</section>