<!-- 页脚 -->
<footer class="bg-primary-dark py-2 border-t border-white/10">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="flex items-center space-x-2 mb-6 md:mb-0" style="display: flex; justify-content: center; align-items: center;">
        <!-- <span class="text-secondary text-2xl"><i class="fa fa-rocket"></i></span> -->
         <a
        href=""
      >
        {{ template "icon/logo.html" . }} 
      </a>
        <a href="/"  style="display: none;">
          <svg   class="w-26 h-auto" width="141" height="11" viewBox="0 0 141 11" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="dark:invert">
            <path d="M0 11V0H9V6H14V9H21V11H0Z" fill="black" />
            <path d="M45 6H38V9H45V11H24V0H45V6ZM33 2V6H38V2H33Z" fill="black" />
            <path d="M48 11V0H57V6H62V0H69V11H62V9H57V11H48Z" fill="black" />
            <path d="M72 11V0H81V9H86V0H93V11H86H81H72Z" fill="black" />
            <path d="M96 9V0H105V6H110V0H117V9V11H110V9H105H96Z" fill="black" />
            <path d="M141 6H134V9H141V11H120V0H141V6ZM129 2V6H134V2H129Z" fill="black" />
          </svg>
        </a>

      </div>
      <div class="text-gray-400 text-sm text-center md:text-right">
        <span onclick="toggleDark()" class="fixed bottom-5 left-5 p-3 rounded-full bg-gray-100 dark:bg-gray-800 shadow-lg"> 🌓 </span>
        <p>© 2020 - {{ now.Year }} {{ T "footer.copyright" }} {{ T "footer.all_rights_reserved" }}</p>
          <!-- <a href="mailto:aboutworks@outlook.com">Aboutworks@outlook.com</a></p> -->
          <!-- <p class="mt-1">粤ICP备12345678号</p> -->
      </div>
    </div>
  </div>
</footer>

<script>
// 页面一渲染就执行，先判断本地存储，自动切深色
const root = document.documentElement
if(localStorage.theme === 'dark') root.classList.add('dark')


function toggleDark(){
  const root = document.documentElement
  root.classList.toggle('dark')
  // 存入本地缓存，刷新页面记忆上次选择
  localStorage.theme = root.classList.contains('dark') ? 'dark' : 'light'
}
</script>


{{ if .Site.Params.analyticsScript }}
<script src="{{ .Site.Params.analyticsScript | absURL }}"></script>
{{ end }}
