<!-- 顶部：页面容器 -->
<div class="relative min-h-screen dark:bg-gray-900">
  <!-- 主体内容区（左侧） -->
  <div class="w-full dark:bg-gray-800 p-0 relative overflow-hidden h-screen">
    <div
      class="w-full h-full p-2 flex flex-row gap-6"
      style="
        background-image: url(&quot;/bg.webp&quot;);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
      "
    >
      {{ template "official/layout/changelanuge.html" .}}
    </div>

    <div>{{ template "official/layout/menu.html" . }}</div>
  </div>
  <!-- 右侧边栏（菜单 + header + social） -->

  <!-- 底部 footer（全局） -->
  {{ template "official/layout/footer.html" . }}
</div>
